html, body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    /* background: black; */
}
body{
    background-color: black;

}
html{
    font-size: 18px;
}
.big-img{
    width: 100%;
    height: 100vh;
}
.img-div{
    width: 100%;
}
.home-text{
    text-align: center;
    margin-top: -35%; 
    color: white;
    /* position: absolute; */
    
}
.header{
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 3rem; */
}
.name{
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
}


.my-img{
    
    width: 200px; 
    height: 200px; 
     border-radius: 100px;

    /* width: 30%; */
    /* height: 40%; */
    /* border-radius: 50%; */


}
.neww{
    background-color: black;
    padding: 30px;
}
.logo{
    width: 100px;
    height: 50px;
    border: none;
    /* border-radius: 50px; */
}
.cadrr{
    /* width: 100vw; */
    /* margin-left: -130px; */
    /* margin-top: -5px; */
}
.textCard{
    text-align: center;
    color: white;
    align-items: center;
    margin-top: 4%;
}
.textCard h1, h3 {
    color: white;

}
.blll{
    background-color: black;
}
.imggg{
    width: 1500px;
    margin-left: -50px;
    margin-top: -5px;
}
#about{
    background-color: black;
    background-color: rgb(58, 48, 48);
    background-color: black;
    margin-top: 0;
    padding-top: 13px;
    color: white;
    padding: 30px;
    /* display: block; */
}
#education{
    margin-top: 50px;
    display: none;
}
#skills{
    display: none;
    margin-top: 50px;

}
#overview{
    display: block;
    margin-top: 50px;
}
.learning{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.learning_name{
    width: 70%;
    text-align: start;
}
.learning_year{
    width: 30%;
}
.first_learning{
    display: flex;
    flex-direction: row;
}
.fixes{
    height: 50px;
    background-color: black;
}
#contact{
    /* margin-top: 4%; */
    background-color: black;
    background-color: rgb(58, 48, 48);
    background-color: black;
    padding: 30px;
    color: white;
    height: auto;

}
#projects{
    background-color: rgb(58, 48, 48);
    background-color: black;
    padding-top: 30px;
    color: white;

}
.big-header{
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    color: rgb(207, 57, 57);
    color:hsl(0, 0%, 30%);

}
.testtttt .col-3{
    margin-top: 10px;
}
.projects_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    /* margin-bottom: 3%; */
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
.skills_container{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin: auto;
}
.skill{
    width: 38%;
    text-align: center;
}
.singluar{
     width: 90%;
}
/* .singluar div{
    height: 200px;
} */
.testtttt .col-3 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    /* padding: 20px; */
}
.testtttt .col-2{
    margin-top: 10px;

}

.testtttt .col-2 img{
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    background-color: white;
    padding: 10%;
}
input{
    width: 100%;
}
.about_contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}
.a{
    text-decoration: none;
    color: rgb(207, 57, 57);
    color:hsl(0, 0%, 30%);
    cursor: pointer;
    /* color: white; */
    font-size: 1.5rem;
    transition: all .2s ease-in-out; 
}
.a:hover{
    color: black;
    color: white;
    /* color: white; */
    font-size: 1.6rem;

    /* transform: scale(1.3); */
    /* transition: all ease 0.2s;  */
    border-bottom: 3px solid black; 

}
.txtAre{
    width: 100%;
}
input{
    border: none;
    outline: none;
    color: white;
}
textarea{
    outline: none;
    border: none;

    color: white;


}
::placeholder{
    color: white;
    opacity: 0.5;
}
svg{
    width: 80%;
    height: 80%;
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out; 
}
svg:hover{
    transform: scale(1.3); 
}
.movie-comme{
    transition: all .4s ease-in-out; 

}
.movie-comme:hover{
    cursor: pointer;
    transform: scale(1.05); 
}

.social{
    /* margin-bottom: 300px; */
}
.new-typing{
    width: 17rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 17rem }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }


  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 900px;
    }
  }

@media (max-width: 1100px) {

    .projects_container{
        width: 75%;
    }
  }

  @media (max-width: 1000px) {
    html{
        font-size: 16px;
    }
    .projects_container{
        width: 80%;
    }
    .singluar{
         width: 90%;
    }
  } 
@media (max-width: 900px) {
    .projects_container{
        width: 85%;
    }
    .singluar{
         width: 90%;
    }
    .skills_container{
        width: 60%;
    }
    .skill{
        width: 40%;
    }
  }
  @media (max-width: 800px) {
    .projects_container{
        width: 90%;
    }
    .singluar{
         width: 95%;
    }
    .skills_container{
        width: 66%;
    }
    .skill{
        width: 44%;
    }
  }
  @media (max-width: 800px) {
    .projects_container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        row-gap: 3%;
    }
    .singluar{
         width: 45%;
         margin: auto;
         padding: 1%;
    }
    .fixes{
        height: 100px;
        background-color: black;
    }
  }
  @media (max-width: 650px) {
    .skills_container{
        width: 70%;
    }
    .skill{
        width: 44%;
    }
  }
  @media (max-width: 600px) {

    .singluar{
         width: 55%;
    }
    .skills_container{
        width: 80%;
    }
    .about_contain{
        width: 73%;
    }
  }
  @media (max-width: 520px) {
    .skills_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        margin: auto;
        margin-left: 22%;
    }
    .skill{
        width: 50%;
        text-align: center;
        margin-top: 4%;
    }
    .about_contain{
        width: 78%;
    }
  }
  @media (max-width: 500px) {

    .singluar{
         width: 60%;
    }
    .about_contain{
        width: 80%;
    }
  }
  @media (max-width: 450px) {

    .singluar{
         width: 65%;
    }
    .skill{
        width: 55%;
        margin-top: 4%;
    }
    .about_contain{
        width: 100%;
        justify-content: space-around;
        /* justify-content: stretch; */
    }
  }
  @media (max-width: 400px) {

    .singluar{
         width: 70%;
    }
    .skill{
        width: 60%;
        margin-top: 4%;
    }
    .about_contain{
        width: 100%;
    }
  }
  @media (max-width: 350px) {

    .singluar{
         width: 75%;
    }
    .skill{
        width: 66%;
        margin-top: 4%;
    }
    .about_contain{
        width: 100%;
    }
  }
  @media (max-width: 329px) {

    .skill{
        width: 73%;
        margin-top: 4%;
    }
    .skills_container{

        margin-left: 18%;
    }
  }
  @media (max-width: 303px) {

    .singluar{
         width: 80%;
    }
    .skill{
        width: 82%;
        margin-top: 4%;
    }
    .skills_container{

        margin-left: 15%;
    }
  }
  